# Twitter - Tweet Trends Analysis

#### Import Libraries

In [1]:
# Import Libraries
import tweepy
##
import csv
import sys
import config
## Preprocessing
import pandas as pd
from langdetect import detect

#### Initialize Twitter API

In [2]:
# initialize api instance
consumer_key= config.consumer_key
consumer_secret= config.consumer_secret
access_token=config.access_token
access_token_secret =config.access_token_secret

In [3]:
#Connect to Twitter through the API
auth = tweepy.OAuthHandler(consumer_key, consumer_secret) 
auth.set_access_token(access_token, access_token_secret) 
api = tweepy.API(auth,wait_on_rate_limit=True)

### Get Twitter Trends By Location

In [4]:
api.trends_available()[0]

{'name': 'Worldwide',
 'placeType': {'code': 19, 'name': 'Supername'},
 'url': 'http://where.yahooapis.com/v1/place/1',
 'parentid': 0,
 'country': '',
 'woeid': 1,
 'countryCode': None}

#### Check Values for India

In [15]:
for val in api.trends_available():
    if val['country'] == 'India':
        print(val.keys())

dict_keys(['name', 'placeType', 'url', 'parentid', 'country', 'woeid', 'countryCode'])
dict_keys(['name', 'placeType', 'url', 'parentid', 'country', 'woeid', 'countryCode'])
dict_keys(['name', 'placeType', 'url', 'parentid', 'country', 'woeid', 'countryCode'])
dict_keys(['name', 'placeType', 'url', 'parentid', 'country', 'woeid', 'countryCode'])
dict_keys(['name', 'placeType', 'url', 'parentid', 'country', 'woeid', 'countryCode'])
dict_keys(['name', 'placeType', 'url', 'parentid', 'country', 'woeid', 'countryCode'])
dict_keys(['name', 'placeType', 'url', 'parentid', 'country', 'woeid', 'countryCode'])
dict_keys(['name', 'placeType', 'url', 'parentid', 'country', 'woeid', 'countryCode'])
dict_keys(['name', 'placeType', 'url', 'parentid', 'country', 'woeid', 'countryCode'])
dict_keys(['name', 'placeType', 'url', 'parentid', 'country', 'woeid', 'countryCode'])
dict_keys(['name', 'placeType', 'url', 'parentid', 'country', 'woeid', 'countryCode'])
dict_keys(['name', 'placeType', 'url', 'parentid', 'country', 'woeid', 'countryCode'])
dict_keys(['name', 'placeType', 'url', 'parentid', 'country', 'woeid', 'countryCode'])
dict_keys(['name', 'placeType', 'url', 'parentid', 'country', 'woeid', 'countryCode'])
dict_keys(['name', 'placeType', 'url', 'parentid', 'country', 'woeid', 'countryCode'])
dict_keys(['name', 'placeType', 'url', 'parentid', 'country', 'woeid', 'countryCode'])
dict_keys(['name', 'placeType', 'url', 'parentid', 'country', 'woeid', 'countryCode'])
dict_keys(['name', 'placeType', 'url', 'parentid', 'country', 'woeid', 'countryCode'])
dict_keys(['name', 'placeType', 'url', 'parentid', 'country', 'woeid', 'countryCode'])
dict_keys(['name', 'placeType', 'url', 'parentid', 'country', 'woeid', 'countryCode'])
dict_keys(['name', 'placeType', 'url', 'parentid', 'country', 'woeid', 'countryCode'])
dict_keys(['name', 'placeType', 'url', 'parentid', 'country', 'woeid', 'countryCode'])

In [5]:
for val in api.trends_available():
    if val['country'] == 'India':
        print(val.values())

dict_values(['Nagpur', {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2282863', 23424848, 'India', 2282863, 'IN'])
dict_values(['Lucknow', {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2295377', 23424848, 'India', 2295377, 'IN'])
dict_values(['Kanpur', {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2295378', 23424848, 'India', 2295378, 'IN'])
dict_values(['Patna', {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2295381', 23424848, 'India', 2295381, 'IN'])
dict_values(['Ranchi', {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2295383', 23424848, 'India', 2295383, 'IN'])
dict_values(['Kolkata', {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2295386', 23424848, 'India', 2295386, 'IN'])
dict_values(['Srinagar', {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2295387', 23424848, 'India', 2295387, 'IN'])
dict_values(['Amritsar', {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2295388', 23424848, 'India', 2295388, 'IN'])
dict_values(['Jaipur', {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2295401', 23424848, 'India', 2295401, 'IN'])
dict_values(['Ahmedabad', {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2295402', 23424848, 'India', 2295402, 'IN'])
dict_values(['Rajkot', {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2295404', 23424848, 'India', 2295404, 'IN'])
dict_values(['Surat', {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2295405', 23424848, 'India', 2295405, 'IN'])
dict_values(['Bhopal', {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2295407', 23424848, 'India', 2295407, 'IN'])
dict_values(['Indore', {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2295408', 23424848, 'India', 2295408, 'IN'])
dict_values(['Thane', {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2295410', 23424848, 'India', 2295410, 'IN'])
dict_values(['Mumbai', {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2295411', 23424848, 'India', 2295411, 'IN'])
dict_values(['Pune', {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2295412', 23424848, 'India', 2295412, 'IN'])
dict_values(['Hyderabad', {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2295414', 23424848, 'India', 2295414, 'IN'])
dict_values(['Bangalore', {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2295420', 23424848, 'India', 2295420, 'IN'])
dict_values(['Chennai', {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/2295424', 23424848, 'India', 2295424, 'IN'])
dict_values(['Delhi', {'code': 7, 'name': 'Town'}, 'http://where.yahooapis.com/v1/place/20070458', 23424848, 'India', 20070458, 'IN'])
dict_values(['India', {'code': 12, 'name': 'Country'}, 'http://where.yahooapis.com/v1/place/23424848', 1, 'India', 23424848, 'IN'])

In [6]:
def get_woeid(place):
    '''Get woeid by location'''
    try:
        trends = api.trends_available()
        for val in trends:
            if (val['name'].lower() == place.lower()):
                return(val['woeid']) 
        print('Location Not Found')
    except Exception as e:
        print('Exception:',e)
        return(0)

In [7]:
get_woeid('India')

23424848

#### Get Twitter Trends by location

In [8]:
def get_trends_by_location(loc_id,count):
    '''Get Trending Tweets by Location'''
    import iso639
    try:
        trends = api.trends_place(loc_id)
        df = pd.DataFrame([trending['name'],  trending['tweet_volume'], iso639.to_name(detect(trending['name']))] for trending in trends[0]['trends'])
        df.columns = ['Trends','Volume','Language']
        #df = df.sort_values('Volume', ascending = False)
        return(df[:count])
    except Exception as e:
        print("An exception occurred",e)

#### Get Top 10 Treds from India

In [16]:
df_india_trends = get_trends_by_location(23424848, 10)
df_india_trends

                          Trends     Volume          Language
0                 #SoniaSpeakNow    80410.0            Polish
1       #WeStandWithArnabGoswami    67144.0           English
2               #भगवा_तो_लहराएगा   178037.0  Marathi; Marāṭhī
3  #14YearsForSouthIndiaIHPokiri  3562537.0           English
4        #न_भूलेंगे_न_माफ_करेंगे    51729.0             Hindi
5                    मुंबई पुलिस    44236.0  Marathi; Marāṭhī
6                  Interrogation   180563.0           Italian
7                   Arnab for 12        NaN            Danish
8                         TaeTae    37317.0           Swahili
9              A. Ready 2 Mingle        NaN           English

#### Get Worldwide Trends

In [17]:
df_world_trends = get_trends_by_location(1, 10)
df_world_trends

                        Trends    Volume            Language
0               #SoniaSpeakNow   84517.0              Polish
1  #LGBTHaklarıİnsanHaklarıdır   32065.0             Turkish
2                    #ASKATEEZ   51795.0             Tagalog
3                        #فحص_       NaN              Arabic
4                 #RespectBTSV  597579.0  Spanish; Castilian
5                         pato   33734.0             Tagalog
6                 Virgin Media   12656.0           Afrikaans
7                         خليل   16473.0              Arabic
8                 Jorge Javier   61251.0           Afrikaans
9    ElijahMontefalco 28thAt28   24226.0             English

#### Get Translated Tweets

In [11]:
def get_translation(text):
    ''' Translate Tweets in English'''
    from googletrans import Translator  # Import Translator module from googletrans package
    try:
        translator = Translator() # Create object of Translator.
        translated = translator.translate(text,dest='en')
        return(translated.text)
    except Exception as e:
        print("Exception", e)

In [18]:
df_world_trends["Translated_Trends"] = [get_translation(val) for val in df_world_trends.Trends]
df_world_trends

,Trends,Volume,Language,Translated_Trends
0,#SoniaSpeakNow,84517.0,Polish,#SoniaSpeakNow
1,#LGBTHaklarıİnsanHaklarıdır,32065.0,Turkish,# Are lgbthaklarıinsanhak
2,#ASKATEEZ,51795.0,Tagalog,#ASKATEEZ
3,#فحص_,NaN,Arabic,#check up_
4,#RespectBTSV,597579.0,Spanish; Castilian,#RespectBTSV
5,pato,33734.0,Tagalog,duck
6,Virgin Media,12656.0,Afrikaans,Virgin Media
7,خليل,16473.0,Arabic,Khalil
8,Jorge Javier,61251.0,Afrikaans,Jorge Javier
9,ElijahMontefalco 28thAt28,24226.0,English,Elijah Montefalco 28th At 28

In [14]:
df_india_trends["Translated_Trends"] = [get_translation(val) for val in df_india_trends.Trends]
df_india_trends

,Trends,Volume,Language,Translated_Trends
0,#SoniaSpeakNow,32280.0,Polish,#SoniaSpeakNow
1,#WeStandWithArnabGoswami,33496.0,English,#WeStandWithArnabGoswami
2,#भगवा_तो_लहराएगा,157719.0,Marathi; Marāṭhī,# Bgwa_to_lhraaga
3,#14YearsForSouthIndiaIHPokiri,2982277.0,English,#14YearsForSouthIndiaIHPokiri
4,#Aim_Of_TrueWorship,360658.0,English,#Aim_Of_TrueWorship
5,Mumbai Police,91548.0,Romanian; Moldavian; Moldovan,Mumbai Police
6,मुंबई पुलिस,32820.0,Marathi; Marāṭhī,Mumbai police
7,Umar Akmal,NaN,Turkish,Umar Akmal
8,D. Black,NaN,German,D. Black
9,Red Beryl,NaN,English,Red Beryl